pkgbase = mingw-w64-kcrash
	pkgdesc = Support for application crash analysis and bug report from apps (mingw-w64)
	pkgver = 5.85.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = any
	groups = mingw-w64-kf5
	license = LGPL
	makedepends = mingw-w64-extra-cmake-modules>=5.85.0
	depends = mingw-w64-kcoreaddons>=5.85.0
	depends = mingw-w64-kwindowsystem>=5.85.0
	options = staticlibs
	options = !strip
	options = !buildflags
	source = http://download.kde.org/stable/frameworks/5.85/kcrash-5.85.0.tar.xz
	source = http://download.kde.org/stable/frameworks/5.85/kcrash-5.85.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = ee9404564e13d6a4463891d592d8e78bee2fa9caf8074708fc18b44ae8b41392
	sha256sums = SKIP

pkgname = mingw-w64-kcrash
